body{
	font-family: system-ui;
	font-weight: 100;
	max-width: 100%;
	margin: auto;
	padding: 0 5%;
}

*{ font-weight: inherit;}

img{
	max-width: 100%;
	border-radius: 0.5rem;
}

/*navigation*/
nav ul{ list-style-type: none; padding: 0; }
nav li{ margin-top: 1rem; }

a {color: inherit;}

a {
	text-decoration-style: wavy;
	text-decoration-thickness: 2px;
	text-decoration-color: #f1357a;
	text-decoration-skip-ink: none;
	text-underline-offset: 0.25em;
}

a:hover {
	background-color: #f1357a;
	color: white;
	border-radius: 0.5rem;
}

/* gallery */

.gallery{
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(
			min(180px, 100%), 1fr
		)
	);
}

.gallery a {display: block;}